.me{
    display: flex;
    height: 140vh;
    align-items: center;
    justify-content: center;

    background-image: url("/src/images/image-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.text-icons {
    justify-content: space-between;
    flex-direction: column;
    color: white;
}